<app-tree-navigation *ngIf="reqService.requirements.length > 1110"></app-tree-navigation>
<div class="l-grid  l-grid--narrow soul-space-inset-m">
    <div class="l-grid__item  l-one-third">
        <soul-shelf class="h-shadow-m">
            <soul-board class="h-shadow-s">
                <h2>Requisiti</h2>

                <div style="float:right" *ngIf="reqService.requirements.length > 0">
                    <div class="m-field">
                        <div class="m-field__value">
                            <button class="a-button a-button--ghost a-button--pull-right" (click)=closeReq()>
                                <span class="a-icon a-icon--close"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </soul-board>
            <soul-lift *ngIf="reqService.requirements.length == 0">
                <app-read-file></app-read-file>
            </soul-lift>
            <soul-lift *ngIf="reqService.requirements.length > 0">
                <app-requirement *ngFor="let req of reqService.requirements" [reqElement]="req" (detailSelected)="detailSelected = $event"></app-requirement>
            </soul-lift>

            <soul-board class="h-shadow-s">
                <h2>Analisi</h2>
            </soul-board>
            <soul-lift>
                <div>
                    <button class="a-button a-button--primary">Carcica Risultati</button>
                </div>
                <div>
                    <doc-modal-neutral></doc-modal-neutral>
                </div>

            </soul-lift>
        </soul-shelf>
    </div>

    <div class="l-grid__item  l-one-half">
        <soul-shelf class="h-shadow-m">
            <soul-board class="h-shadow-s">
                <h2>Dettagli</h2>
            </soul-board>
            <soul-lift>
                <app-req-detail [detail]="detailSelected">
                </app-req-detail>
            </soul-lift>
        </soul-shelf>


    </div>
</div>