<app-tree-navigation *ngIf="reqService.requirements.length > 1110"></app-tree-navigation>
<div class="l-grid  l-grid--narrow soul-space-inset-m">
    <div class="l-grid__item  l-one-third">
        <soul-shelf class="h-shadow-m" style="height:95vh;">
            <soul-board class="h-shadow-s" style="height:40px;">
                <h2>Requisiti</h2>

                <div style="float:right" *ngIf="reqService.requirements.length > 0">
                    <div class="m-field">
                        <div class="m-field__value">
                            <button class="a-button a-button--ghost a-button--pull-right" (click)=closeReq()>
                                <span class="a-icon a-icon--close"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </soul-board>
            <soul-lift style="height:50vh;">
                <app-read-file *ngIf="reqService.requirements.length == 0" [type]="'XML'"></app-read-file>
                <app-requirement *ngFor="let req of reqService.requirements" [reqElement]="req" (detailSelected)="detailSelected = $event; showAnalysis = false "></app-requirement>
            </soul-lift>

            <soul-board class="h-shadow-s" style="height:40px;">
                <h2>Analisi</h2>
                <div style="float:right" *ngIf="analysisService.analysis.length>0">
                    <div class="m-field">
                        <div class="m-field__value">
                            <button class="a-button a-button--ghost a-button--pull-right" (click)=closeAnalysis()>
                                <span class="a-icon a-icon--close"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </soul-board>
            <soul-lift style="height:35vh;">
                <div *ngIf="analysisService.analysis.length==0">
                    <p>Seleziona il file csv da caricare</p>
                    <app-read-file [type]="'csv'"></app-read-file>
                    <doc-modal-neutral></doc-modal-neutral>
                </div>
                <div *ngIf="analysisService.analysis.length>0">
                    <button class="a-button a-button--primary" (click)="showAnalysis = true">Visualizza i risultati</button>
                </div>
            </soul-lift>
        </soul-shelf>
    </div>

    <div class="l-grid__item  l-one-half">
        <soul-shelf class="h-shadow-m" style="height:95vh;">
            <soul-board class="h-shadow-s">
                <h2>Dettagli</h2>
            </soul-board>
            <soul-lift>
                <app-req-detail *ngIf="!showAnalysis" [detail]="detailSelected"></app-req-detail>
                <app-analysis-detail *ngIf="showAnalysis"></app-analysis-detail>
            </soul-lift>
        </soul-shelf>


    </div>
</div>