<div class="soul-table-container">
    <table class="soul-table soul-table--hoverable soul-table--regular">
        <thead>
            <tr>
                <th *ngFor="let header of analysisService.header" class="soul-table-cell  soul-table-cell--header">
                    <div class="soul-table-header">
                        <span class="soul-table-header__title">{{header}}</span>
                    </div>
                </th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let row of analysisService.analysis; let i = index " class="soul-table-row" [ngStyle]="verify(row, i)?{}:{'background-color':'hsl(45, 90%, 88%)'}">
                <td *ngFor="let value of row" class="soul-table-cell">
                    {{format(value)}}
                </td>

            </tr>

        </tbody>
    </table>

</div>