<div class="panel panel-default">
    <div class="panel-body">
        <ol class="l-block-list  l-block-list--box">
            <li class="l-block-list__item h-cursor-pointer" (click)="showDetail()" [ngStyle]="getStyle()">

                {{req.name}}

                <!-- error the first time lenght>0, meaby a new component to show the droplist? droplist soul?  -->

                <select style="float: right;" *ngIf="req.missingParam.length>0">
                    <option *ngFor="let par of req.missingParam"> {{par}}</option> 
                </select>

            </li>
        </ol>
    </div>
</div>