<soul-modal title="Scarica dei nuovi risultati" type="neutral" [isOpen]="isModalOpen" (closeEnded)="executeWhenCloseAnimationEnds()">
    <soul-modal-content>
        <div class="l-flag">
            <div class="l-flag__body">
                <p>Find results by project name</p>
                <div class="soul-space-stack-top-xs"></div>
                <input #projNameSearch type="text" placeholder="Project name">
                <button class="a-button a-button--primary" style="float: right" (click)="search(projNameSearch.value)">Search</button>
            </div>
        </div>
        <fieldset class="soul-choice-list  soul-choice-list--separated" *ngIf="show">
            <div class="soul-space-stack-top-xs"></div>
            <div style="overflow: auto;">
                <div class="soul-choice  soul-choice--comfortable" *ngFor="let item of sessionList" (click)="selected = item.id">
                    <input name="choice-separated" type="radio" class="soul-choice__input" id={{item.id}}>
                    <label class="soul-choice__box" for={{item.id}}>
                        <div class="soul-choice__title">
                            <span class="soul-font-size-m h-text-bold">{{item.name}}</span>
                        </div>
                        <span class="soul-choice__indicator"></span>
                        <div class="soul-choice__description">
                            Owner username: {{item.creator.userName}}
                        </div>
                        <div class="soul-choice__additional-content">
                            Id: {{item.id}}
                        </div>
                    </label>
                </div>
            </div>
            <div class="soul-space-stack-top-xs"></div>
        </fieldset>

    </soul-modal-content>

    <soul-modal-footer>
        <div>
            <button *ngIf="show" class="a-button a-button--primary" (click)="carica()">Load File</button>
            <button class="a-button  a-button--default" (click)="close()">Cancel</button>
        </div>
    </soul-modal-footer>
</soul-modal>


<p>Download<strong (click)="open()" style="color:rgb(35, 35, 161);" class="l-block-list__item h-cursor-pointer">new results</strong></p>