<soul-modal title="Inizia una nuova analisi" type="neutral" [isOpen]="isModalOpen" (closeEnded)="executeWhenCloseAnimationEnds()">
    <soul-modal-content>
        <div class="l-flag">
            <div class="l-flag__body">
                <p>Seleziona parametri</p>
            </div>
        </div>
    </soul-modal-content>
    <soul-modal-footer>
        <div class="soul-button-group  soul-button-group--separated">
            <button class="a-button  a-button--primary" (click)="close()">Ok</button>
            <button class="a-button  a-button--ghost" (click)="close()">Annulla</button>
        </div>
    </soul-modal-footer>
</soul-modal>


<p>Oppure inizia una<strong (click)="open()" style="color:rgb(35, 35, 161);" class="l-block-list__item h-cursor-pointer">nuova analisi</strong></p>